{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-xxl">
        <h2 class="text-center my-3"><i>~ Create a listing ~</i></h2>
        <div class="row mb-b justify-content-center">
            <div class="col-xxl-6 ps-5">
                <form method="post" action="{% url 'create' %}">
                {% csrf_token %}
                {% for field in form %}
                    <label class="col-md-6 form-label"><b>{{ field.label }}</b></label>
                    <div>
                        {{ field }}
                    </div> 
                {% endfor %}
                    <div class="pt-3 pb-5 text-center">
                    <button type="submit" class="btn btn-success">Create listing!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}